{% extends 'admin.twig' %}

{% block content %}
    <h3>La gellerie     <a class="btn btn-sm btn-primary " href="{{ path_for('getImg') }}">Ajouter une nouvelle image</a> <br><br>
    </h3>


        {% if posts %}
            {% for k in posts %}
                <div class="col-xs-2">
                <figure>
                <img src="images/gallerie/{{ k.file }}" alt="..." class="img-fluid">
                    <figcaption><a href="deleteimage/{{ k.id }}" class="btn btn-sm btn-danger delimg"> x</a></figcaption>
                </figure>
                </div>
            {% endfor %}
        {% endif %}

{% endblock %}